.SingleQue{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.661);
    margin: 12px 0px;
    border-radius: 6px;
    padding: 12px;
}

.quizQuestionContainer{
    display: flex;
    justify-content: space-between;
}

.plusIcon, .minusIcon{
    background-color: rgb(62, 10, 62);
    border-radius: 50%;
    padding: 3px;
    margin-left: 6px;
    cursor: pointer;
}

.quizAnswer{
    color: grey;
    margin-right: 50px;
    margin-top: 6px;
}