.App{
  min-height: 100vh;
  max-height: fit-content;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.mainHeading{
  margin-bottom: 30px;
  letter-spacing: 1.5px;
  color: rgb(117, 14, 117);
  text-shadow: 4px 3px rgb(68, 6, 68);
}